#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

configure: 
	/usr/bin/find idxldapaccounts -type d  >dir_list
	/usr/bin/find idxldapaccounts -type f  >file_list

configure-stamp: 
	dh_testdir
	touch configure-stamp

build: build-stamp 

build-stamp: configure-stamp configure
	dh_testdir
	touch build-stamp

clean:
	rm -rf debian/webmin-idxldapaccount-linuxplace
	dh_testdir
	dh_testroot
	rm -f file_list
	rm -f dir_list
	rm -f build-stamp configure-stamp
	dh_clean 
	

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/gconfig.
	mkdir -p $(CURDIR)/debian/webmin-idxldapaccounts-linuxplace/usr/share/webmin/idxldapaccounts
	mkdir -p $(CURDIR)/debian/webmin-idxldapaccounts-linuxplace/etc/webmin/idxldapaccounts/
	for i in `cat dir_list` ; do mkdir -p $(CURDIR)/debian/webmin-idxldapaccounts-linuxplace/usr/share/webmin/$$i; done
	for i in `cat file_list`; do install $$i $(CURDIR)/debian/webmin-idxldapaccounts-linuxplace/usr/share/webmin/$$i; done
	install $(CURDIR)/idxldapaccounts/config.default $(CURDIR)/debian/webmin-idxldapaccounts-linuxplace/etc/webmin/idxldapaccounts/config

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
#	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
